---
import whatsapp from "../../assets/whatsapp.svg";
import { Image } from "astro:assets";

const now = new Date();
const currentYear = now.getFullYear();
---

<footer class="text-sm font-lora md:mt-20 mt-10">
  <section
    class="flex items-center md:space-x-10 space-x-5 border-y border-gray-200 md:py-10 py-5"
  >
    <a
      href="/"
      title="Vebelty"
      class="h-10 w-10 grid place-items-center text-[28px] rounded-md bg-orange-800 text-white"
      >V</a
    >
    <div>
      <h5 class="font-lora font-bold mb-2">Contacto</h5>
      <a
        href="http://wa.me/51997258592"
        target="_blank"
        rel="noopener noreferrer"
        title="Contacto - Velbety | Whatsapp"
        class="flex space-x-2 items-center"
      >
        <Image src={whatsapp} alt="Velbety | Whatsapp" class="w-4" />
        <span>+51 997258592</span>
      </a>
    </div>
  </section>
  <div class="py-6 flex items-center justify-between">
    <p>
      Copyright© {currentYear} Velbety. All rights reserved.
    </p>
    <a href="/" title="Velbety" class="p-3 font-bold">Velbety</a>
  </div>
</footer>
