---
import whatsapp from "../../assets/whatsapp.svg";
import { Image } from "astro:assets";
---

<header
  class="py-4 w-full mb-16 flex items-center justify-between border-b border-gray-200"
>
  <h1 class="flex justify-center">
    <a
      href="/"
      title="Velbety | Home page"
      class="text-lg font-lora tracking-wider"
    >
      <b class="block pt-2">Velbety</b>
    </a>
  </h1>
  <nav>
    <ul class="flex items-center space-x-5 text-sm">
      <li>
        <a class="relative" href="/contacto" title="Contacto | Velbety">
          Contacto
        </a>
      </li>
      <li>
        <a
          href="https://wa.me/51997258592/?text=Quiero%20reservar%20una%20cita.%20%0AProyecto%20Web%20Velbety"
          class="py-2 px-5 rounded-full flex space-x-2 items-center border-gray-700 border solid"
          target="_blank"
          rel="noopener"
        >
          <Image src={whatsapp} alt="Velbety | Whatsapp" class="w-4" />
          <span>¡Hablemos ya!</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
