---
import { Image } from "astro:assets";
import map from "../../assets/map.jpg";
import { Icon } from "astro-icon/components";
import BoxSubtitle from "../BoxSubtitle.astro";
---

<section class="mb-[70px]">
  <h2
    class="text-xl text-center mb-8 flex justify-center items-center font-bold"
  >
    <Icon
      name="material-symbols-light:distance-outline"
      size="40"
      class="text-[#ff9100]"
    />
    <span> Ubicaci&oacute;n </span>
  </h2>
  <div class="flex space-x-2">
    <div class="w-1/2 md:w-1/4 md:h-[500px] flex-1">
      <BoxSubtitle subtitle="Jr. Pedro Galvez">
        <p>Urbanizaci&oacute;n: Pio Pata</p>
        <p>A 2 cuadras de la Capilla Santo Cura de Ars</p>
        <a
          href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noopener"
          class="w-16 flex items-center justify-center h-16 rounded-full text-[#ff9100] bg-white absolute right-5 bottom-5"
          title="Ubicaci贸n | Velbety | Pedro Galvez"
        >
          <Icon
            name="material-symbols-light:arrow-outward-rounded"
            size="40"
            class="text-[#ff9100]"
          />
        </a>
      </BoxSubtitle>
    </div>
    <div
      class="w-1/2 md:w-3/4 rounded-[50px] md:h-[500px] h-[332px] overflow-hidden relative"
    >
      <picture class="relative">
        <Image src={map} alt="Velbety" class="w-full h-full object-cover" />
        <div
          class="absolute top-1/2 -translate-y-[60px] left-1/2 -translate-x-1/2"
        >
          <a
            href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener"
            title="Ubicaci贸n | Velbety | Pedro Galvez"
          >
            <Icon
              name="material-symbols-light:location-on"
              size="90"
              class="text-black"
            />
          </a>
          <div
            class="hidden md:flex absolute bottom-full left-1/2 -translate-x-1/2 bg-[#ff9100] text-white justify-center items-center h-[120px] w-[180px] px-10 rounded-[30px]"
          >
            <a
              href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener"
              class="text-xl flex justify-center mb-2"
              title="Ubicaci贸n | Velbety | Pedro Galvez"
            >
              <span
                class="flex items-center space-x-1 self-center text-lg font-manrope tracking-wider"
              >
                <Icon
                  name="material-symbols-light:house-with-shield-outline-rounded"
                  size="48"
                />
                <b class="block pt-2">Velbety</b>
              </span>
            </a>
          </div>
        </div>
      </picture>
      <a
        href="https://www.google.com/maps/search/pedro+galvez+pio+pata/@-12.0613952,-75.2291533,18.25z?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        rel="noopener"
        class="w-16 flex items-center justify-center h-16 rounded-full bg-[#ff9100] text-white absolute right-5 top-5"
        title="Ubicaci贸n | Velbety | Pedro Galvez"
      >
        <Icon
          name="material-symbols-light:arrow-outward-rounded"
          size="40"
          class="text-white"
        />
      </a>
    </div>
  </div>
</section>
