---
import { Image } from "astro:assets";
import outside from "../../assets/outside.jpg";
import { Icon } from "astro-icon/components";
---

<section>
  <div class="text-center">
    <h2 class="text-xl mb-8 flex justify-center">
      <span
        class="flex items-center space-x-1 self-center text-lg font-manrope tracking-wider"
      >
        <Icon
          name="material-symbols-light:house-with-shield-outline-rounded"
          size="48"
        />
        <b class="block pt-2">Velbety</b>
      </span>
    </h2>
    <p class="w-2/3 md:w-1/3 mb-8 mx-auto">
      Diseño moderno, funcionalidad y comodidad en la ubicación ideal.
    </p>
  </div>
  <article
    class="w-full sm:w-3/4 lg:w-1/2 mx-auto h-[400px] sm:h-[600px] lg:h-[816px] rounded-[30px] relative overflow-hidden"
  >
    <h3>
      <Image
        src={outside}
        alt="Velbety"
        class="object-cover object-top w-full h-full"
      />
      <button
        aria-label="Ver Imagen"
        class="w-16 flex items-center justify-center h-16 rounded-full bg-[#ff9100] text-white absolute right-5 top-5"
      >
        <Icon
          name="material-symbols-light:arrow-outward-rounded"
          size="40"
          class="text-white"
        />
      </button>
    </h3>
  </article>
</section>
